---
import MainLayout from "../layouts/mainlayout.astro";
---

<MainLayout title="Colophon | Alex Hordal">
  <div class="about-content">
    <!-- Everything in here pours into the .page-slot -->
    <h1>Contact me</h1>
    <p>Content goes here.</p>
  </div>
</MainLayout>