---
import MainLayout from "../layouts/mainlayout.astro";
---

<MainLayout isHome={true}>
  <div class="home-content">
    <h1>Alex<br /><span class="nudge">Hordal</span></h1>
    <p class="hero-subtitle">Cartographer & GIS Specialist</p>
  </div>
</MainLayout>