---
interface Reference {
  citation: string;
  url?: string;
}

interface Props {
  references: Reference[];
}

const { references } = Astro.props;
import PageSection from "./PageSection.astro";
---

<PageSection title={`<i class="fa-solid fa-book"></i>References`} id="references">


  <div class="references-list">
    {references.map((reference) => (
      <p class="reference-entry">
        <span set:html={reference.citation} />

        {reference.url && (
          <>
            {" "}
            <a
              href={reference.url}
              target="_blank"
              rel="noopener noreferrer"
            >
              {reference.url}
            </a>
          </>
        )}
      </p>
    ))}
  </div>
</PageSection>